<div class="page-header-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <nav class="breadcrumb-area">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="breadcrumb-sep">/</li>
                            <li>contact</li>
                        </ul>
                    </nav>
                    <h4 class="title">contact</h4>
                </div>
            </div>
        </div>
    </div>
</div>